{% extends 'base.html.twig' %}

{% block body %}

    <p class="blog-subtitle"> Add your post
      <a href="{{ path('_index') }}">Back to the list</a>
    </p>

    <div class="blog-post">
      {{ form_start(form) }}
        {{ form_widget(form) }}
          <input class="btn btn-primary pull-right"  type="submit" value="Post" /></p>
      {{ form_end(form) }}
    </div>

{% endblock %}
