{% extends 'base.html.twig' %}

{% block body %}
    <div class="blog-post">
      {{ form_start(form) }}
        {{ form_widget(form) }}
          <input class="btn btn-primary pull-right" type="submit" value="Comment" />
      {{ form_end(form) }}
    </div>
{% endblock %}
